<html>


<!-- Latest compiled and minified CSS -->
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'trump_web/css/style_trump_web.css' %}"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- jQuery library -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <script src="{% static 'trump_web/js/trump_web.js' %}"></script> -->

<div class="row">
<div class="col-xs-8 col-xs-offset-2" class="container">
<ul class="nav nav-pills nav-justified" style="padding-top: 20px;">
  <li class="active"><a data-toggle="pill" href="#home">Tweets</a></li>
  <li><a data-toggle="pill" href="#newsfeed">News feed</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="home">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                             {% for item in tweets %}
                             {% if forloop.counter0|divisibleby:2 %}
                            <div class="alert alert-info alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><p class="fa fa-twitter-square">
                               "{{ item.text }}" {%if item.link != None %}<a href="{{item.link}}" class="alert-link" target="_blank">View Tweet</a>{% endif %}
                            </div>
                            {% else %}
                             <div class="alert alert-warning alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><p class="fa fa-twitter-square">
                               "{{ item.text }}" {%if item.link != None %}<a href="{{item.link}}" class="alert-link" target="_blank">View Tweet</a>{% endif %}
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->

               </div>
             <div class="tab-pane fade" id="newsfeed">
            <div id="cnn_contents">
            <div class="panel panel-default">
                        <div class="panel-heading">
                        </div>
            <div class="container-fluid panel-group" id="accordion">
             {% for item in news %}
                    <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#{{forloop.counter}}">
                    {{item.title}}
                    </a>
                  </h4>
                </div>   
                <div id="{{forloop.counter}}" class="panel-collapse collapse">
                  <div class="panel-body">
                                          <div>
                        <div style="float:left">{%if item.img_url != None %}<img src="{{item.img_url}}" width="250px"/>{% else %}<img src="http://static4.businessinsider.com/image/56c640526e97c625048b822a-480/donald-trump.jpg" width="250px"/>{% endif %}</div>
                        <div style="float:bottom; padding-right: 10px">{{item.desc}}..<a href="{{item.link}}" target="_blank">Read more<a></div>
                      </div>
                </div>
              </div>
            </div>
            {% endfor %}
            </div>
            </div>
            </div>
            </div>
</div>
</div>
</div>
</html>